body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0%;
}
.container{
    display: grid;
    grid-template-areas:
    "header header header"
    "nav section article"
    "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
header{
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}
nav{
    grid-area: nav;
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: orange;
}
section{
    grid-area: section;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: green;
}
article{
    grid-area: article;
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: purple;
}
footer{
    grid-area: footer;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}
@media (max-width: 600px){
    .container{
        grid-template-areas:
        "header"
        "nav"
        "section"
        "article"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    footer{
        position: relative;
    }
}