body {
    font-family: Arial, sans-serif;
    background-color: violet;
    margin: 0;
    padding: 20px;
    font-size: 10px;
}

h1 {
    color: white;   
    text-align: center;
    font-size: 30px; /* Tamaño en em */
}   

#darthvader {
    font-size: 40px;
}

#luke {
    font-size: 1.5em; /* cuanto es en px */
}

#mandalorian {
    color: red;
    font-size: 0.5em; /* cuanto es en px */
}